/* CSS RESET */
*{
    padding: 0;
    margin: 0;
    border: 0;
}

body {
  font-family: Arial;
  background: #f4f6f9;
  text-align: center;
}

h1 {
  background: #2563eb;
  color: white;
  padding: 1.6rem;
}

nav {
  margin: 10px;
}

nav button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  background: #2563eb;
  color: white;
  cursor: pointer;
}

nav button:hover {
  background: #1e40af;
}


button {
  padding: 8px 15px;
  cursor: pointer;
}

.reset-btn {
  background: red;
  color: white;
  border: none;
  margin: 10px;
}